prompt.txt
js/crystal/tasks/data/План Чехлы 08-2026 - спр-к мешки.csv
js/crystal/tasks/data/План Чехлы 08-2026 - спр-к пуговиц.csv
js/crystal/tasks/data/План Чехлы 08-2026 - спр-к чехлы ВНУТР.csv
js/crystal/tasks/data/План Чехлы 08-2026 - спр-к чехлы НАРУЖН.csv
